/haco.egg-info/
**/__pycache__/**
.idea/
**/error.txt
**/*.tune_metadata
**/progress.csv
**/params.json
**/params.pkl
**/events.out.tfevents*
**/checkpoint*
**/checkpoint-*
**/.is_checkpoint
**/experiment_state-*
**/result.json
**/videos
**/videos_cop
**/videos_old
**/audio_recordings
**/trajectory_data
**/.env
**/corrected_trajectories